.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }

html{
    background-color: black;
    
}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

img{
    border: 5px solid white;
    width: 100%;
}
